<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>

<div class="center-screen">
    <div class="center-container">
        <div class="container">
            <form action="" method="post">
                <label class="button-label">
                    <input type="radio" name="account_type" value="contestant" required>
                    <span>Create as a Contestant</span>
                </label>

                <label class="button-label">
                    <input type="radio" name="account_type" value="organizer" required>
                    <span>Create as an Organizer</span>
                </label>

                <button type="submit" class="button">Continue</button>
                <p><a href="{{ url_for('home') }}" class="home-button">Home</a></p>
            </form>
        </div>
    </div>
</div>

</body>
</html>
