<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>

<div class="center-screen">
    <div class="center-container">
        <div class="container">
            <h1>Create an Account</h1>
            <form action="" method="post">
                <div class="radio-group">
                    <label class="radio-label">
                        <input type="radio" name="account_type" value="contestant" required>
                        Create as a Contestant
                    </label>

                    <label class="radio-label">
                        <input type="radio" name="account_type" value="organizer" required>
                        Create as an Organizer
                    </label>
                </div>

                <button type="submit" class="button">Continue</button>
                <p><a href="{{ url_for('home') }}" class="home-button">Home</a></p>
            </form>
        </div>
    </div>
</div>

</body>
</html>
